/* ===========================
   Dashboard
=========================== */

.dashboard-page{
    min-height:100vh;
    background:#0d1117;
    color:#e6edf3;
    padding:40px;
    font-family:Inter,sans-serif;
}

/* ===========================
 Header
=========================== */

.dashboard-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}

.welcome h1{
    font-size:2.2rem;
    margin-bottom:8px;
}

.welcome p{
    color:#8b949e;
}

.new-repo-btn{
    padding:12px 22px;
    background:#238636;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
    transition:.3s;
}

.new-repo-btn:hover{
    background:#2ea043;
    transform:translateY(-2px);
}

/* ===========================
 User Card
=========================== */

.user-card{
    background:#161b22;
    border:1px solid #30363d;
    border-radius:14px;
    padding:25px;
    margin-bottom:35px;
    box-shadow:0 10px 30px rgba(0,0,0,.25);
}

.user-card h2{
    margin-bottom:10px;
}

.user-card p{
    color:#8b949e;
    margin-top:8px;
}

/* ===========================
 Repository Section
=========================== */

.repo-section-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.repo-section-title h2{
    font-size:1.5rem;
}

/* ===========================
 Grid
=========================== */

.repo-grid{

    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(320px,1fr));
    gap:25px;

}

/* ===========================
 Cards
=========================== */

.repo-card{

    background:#161b22;
    border:1px solid #30363d;
    border-radius:14px;
    padding:22px;
    transition:.3s;
    cursor:pointer;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.repo-card:hover{

    transform:translateY(-6px);
    border-color:#58a6ff;
    box-shadow:0 10px 30px rgba(88,166,255,.15);

}

.repo-name{

    font-size:1.25rem;
    font-weight:700;
    color:white;
    margin-bottom:10px;

}

.repo-description{

    color:#9ba3af;
    line-height:1.5;
    min-height:60px;

}

.repo-footer{

    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
    font-size:.9rem;

}

.visibility{

    background:#1f6feb25;
    color:#58a6ff;
    padding:6px 12px;
    border-radius:50px;
    text-transform:capitalize;

}

.updated{

    color:#8b949e;

}

/* ===========================
 Empty
=========================== */

.empty{

    margin-top:60px;
    text-align:center;
    color:#8b949e;

}

.empty h2{

    color:white;
    margin-bottom:10px;

}

/* ===========================
 Responsive
=========================== */

@media(max-width:850px){

.dashboard-header{

    flex-direction:column;
    align-items:flex-start;
    gap:20px;

}

}