.repository-page {
    min-height: 100vh;
    background: #0d1117;
    color: #e6edf3;
    padding: 35px;
    font-family: "Inter", sans-serif;
}

.repository-header {
    background: #161b22;
    border: 1px solid #30363d;
    border-radius: 14px;
    padding: 24px;
    margin-bottom: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,.25);
}

.repository-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;
}

.repository-description {
    color: #9ba3af;
    margin-bottom: 18px;
}

.repository-info {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    font-size: .9rem;
    color: #8b949e;
}

.repository-container {
    display: flex;
    gap: 25px;
}

/* ======================
   Left Explorer
====================== */

.repository-sidebar {
    width: 32%;
    background: #161b22;
    border-radius: 14px;
    border: 1px solid #30363d;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    padding: 18px;
    font-size: 1.1rem;
    font-weight: 600;
    border-bottom: 1px solid #30363d;
    background: #1f2630;
}

.back-btn {
    cursor: pointer;
    padding: 14px 20px;
    color: #58a6ff;
    border-bottom: 1px solid #30363d;
    transition: .3s;
}

.back-btn:hover {
    background: #21262d;
}

.file-list {
    overflow-y: auto;
    max-height: 70vh;
}

.file-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 18px;
    cursor: pointer;
    transition: .25s;
    border-bottom: 1px solid rgba(255,255,255,.03);
}

.file-item:hover {
    background: #21262d;
}

.file-icon {
    font-size: 1.1rem;
}

.file-name {
    font-size: .95rem;
}

/* ======================
   Right Viewer
====================== */

.file-viewer {
    width: 68%;
    background: #161b22;
    border-radius: 14px;
    border: 1px solid #30363d;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.viewer-header {
    background: #1f2630;
    padding: 18px;
    border-bottom: 1px solid #30363d;
    font-weight: 600;
}

.viewer-content {
    padding: 20px;
    overflow: auto;
    height: 75vh;
    white-space: pre-wrap;
    font-family: Consolas, monospace;
    line-height: 1.6;
    font-size: .92rem;
    color: #d2d8df;
}

/* scrollbar */

.viewer-content::-webkit-scrollbar,
.file-list::-webkit-scrollbar{
    width:8px;
}

.viewer-content::-webkit-scrollbar-thumb,
.file-list::-webkit-scrollbar-thumb{
    background:#3d444d;
    border-radius:20px;
}

/* ======================
Responsive
====================== */

@media(max-width:950px){

.repository-container{
    flex-direction:column;
}

.repository-sidebar,
.file-viewer{
    width:100%;
}

.viewer-content{
    height:50vh;
}

}

.empty-folder {
  padding: 20px;
  text-align: center;
  color: #888;
  font-style: italic;
}